@CHARSET "ISO-8859-1";



tr:nth-child(even) {
	background-color: #f2f2f2
}

.demo-table{
	border-collapse: collapse;
	border-bottom: 1px solid gray;
	font-family:Tahoma, Verdana, Segoe, sans-serif;
	border-top:1px solid gray;
	background: none repeat scroll 0 0 #FFFFFFF;
	text-align: center;
}

.demo-table-header{
	border-bottom: 1px solid blue;
	background: none repeat scroll 0 0 #66CCFF;
	padding: 10px;
}

.demo-table-row:nth-child(even){
	border-top:1px solid red;
	background: none repeat scroll 0 0 #A9A9A9;
	text-align: center;
}